@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/* BACKGROUND & ALL TAG */
* {
  margin: 0px;
  padding: 0px;
}
html {
  font-family: 'Noto Sans KR', sans-serif;
}
.screen_out {
  visibility: hidden;
  position: absolute;
}
fieldset {
  border: 0;
}