@charset "utf-8";
body {
  background-color : rgb(245,245,220);
}

header {
  background-color: rgb(211,211,211);
  box-shadow: 1px 1px 3px 3px gray;
}
header .title {
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
section {
  text-align: center;
}
section button, input {
  border: 0;
  outline: none;
  background: none;
}
.box-section {
  display: inline-block;
}
.left-section {
  float: left;
  padding-right: 10px;
}
.left-section .left-box {
  margin: 10px;
}
.left-section .left-box:nth-of-type(2) {
  margin-top: 15px;
}
.left-section .left-box div {
  padding: 13px;
  background-color: rgb(169,169,169);
  border-radius: 5px;
}
.left-section .left-box .icon {
  display: inline-block;
  color: white;
  width: 30px;
  text-align: left;
}
.left-section .left-box .in_txt {
  display: inline-block;
  width:150px;
}
.left-section .left-box a {
  margin: 2px;
  display: block;
  text-align: right;
  color: rgb(169,169,169);
  text-decoration: none;
}
.left-section .btn-box {
  text-align: right;
  padding: 0 12px;
}
.left-section .btn-box .login_btn {
  display: inline-block;
  background-color: rgb(220,20,60);
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 12px;
  border-radius: 5px;
}
.right-section {
  float: right;
}
.right-section .right-box button{
  width: 215px;
  height: 44px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  text-align: left;
}
.right-section .login_twitter_btn{background-color: rgb(135,206,235);}
.right-section .login_facebook_btn{background-color: rgb(0,0,139);}
.right-section .login_google_btn{background-color: rgb(255,0,0);}
.right-section .icon {
  display: inline-block;
  width: 30px;
  margin-left: 10px; 
}